<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='database_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar_styles.css') }}">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="header">
        <h1>Image Data Extraction Project</h1>
        <div class="tabs">
            <div id="uploadTab" class="tab" onclick="changeTab('uploadTab')"><a href="/">Upload Image</a></div>
            <div id="databaseTab" class="tab active" onclick="changeTab('databaseTab')"><a href="/database_data">View Database</a></div>
        </div>
    </div>
    
    
    <div class="database-contents">
        <h2>Database Contents</h2>
        <ul class="database-list">
            {% for index, item in data %}
                <li class="database-item" id="{{ item._id }}" onclick="errfnct('{{ item._id }}')">
                    <div class="item-content">
                        
                        <span class="database-field">Sr. No.:</span>
                        <span class="database-value">{{ index }}</span>
                        <br>
                        <span class="database-field">Name  :</span>
                        <span class="database-value"> {{ item.name }}</span>
                        <br>
                        <span class="database-field">Email  :</span>
                        <span class="database-value"> {{ item.email }}</span>
                    </div>
                    <div class="div-button-class">
                        <button class="delete-button" onclick="deleteItem('{{ item._id }}')">X</button>
                    </div>
            {% endfor %}
        </ul>
    </div>
    <script>
        
    </script>
    <script src="{{ url_for('static', filename='database_script.js') }}"></script>
    <script>
        function errfnct(itemid) {
            console.log(itemid);
        }
    </script>
    
    
    
</body>
