<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document Image Processor</title>
</head>
<body>
    <div class="container">
        <h1>Document Image Processor</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="imageUpload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Document Image
            </label>
            <input id="imageUpload" type="file" name="file" accept=".jpg, .jpeg, .png" required>
            <button type="submit">Process Image</button>
        </form>
        <div id="result"></div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</body>
</html>
